h1 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
}

.homepage-h1 {
    color: #121212;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 3rem;
}

.section-2 {
    background-color: #FEB139;
}

.homepage-container {
    background-color: #F5F5F5;
}

h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    color: #737373;
}
.navbar-brand {
    margin-left:30px;
  }

.icon-color-invert {
    -webkit-filter: invert(100%);
}


.oval-vertical {
    height: 800px;
    background: red;
    border-radius: 100px / 50px;
  }

.overflow-hidden {
overflow: hidden;
}

.drop-in {
/*              animation speed, delay */
    animation: drop-in 2s ease 100ms backwards;
}

.drop-in-2 {
    animation: drop-in 1.5s ease 300ms backwards;
}

@keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }