{% extends 'base.html' %}


{% block body %}
<div class="container">
    <br>
    <div class="row">
        <!-- Left half of page -->
        <div class="col-8 about-left-col">
            <h1 class="border-0 aboutpage-h1">About Me</h1>
            <p class="align-items-center">
                Hi! My name is Michael Scheie and I am a Senior Software Engineer! 
                I grew up in Saint Louis Park, MN and always had an interest in technology.
                That was true even through college because in 2019 I graduated with a B.A. in Computer Science at Gustavus Adolphus. 
                Since then my passion for programming (and technology) still continues to grow as I explore new opportunities through work
                while also exploring on my own through side-projects (like creating this website)!
                <br>
                <br>
                Outside of that I enjoy hanging out with friends, spending time outside (when the weather is warm),
                and trying new foods! I love animals as well! For almost two years I fostered Kittens through Twin Cities Pet Rescue.
                I stopped because we had a puppy on the way! Kovu is (now) a 10 month old miniature Australian Shepard! He's 
                been quite the handful as he's still a puppy and has lots and LOTS of energy!
            </p>
        </div>
        <!-- Right half of page -->
        <div class="col-4 d-flex flex-row-reverse">
            <img src="static/foster_kitten.jpg" width="80%">
        </div>
    </div>
</div>
{% endblock %}