{# templates/base.html #}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Default configuration -->
  <meta charset="utf-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Custom configurations -->
  <link rel="stylesheet" href="static/css/styles.css">
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script src='https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js'></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <title>{% block title %} Zappiermike Website {% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>