{% extends 'base.html' %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="border-0">
                Michael Scheie<br>
                Software Engineer<br> 
                Based in Twin Cities, MN
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4" id="first-column">
            <h5 class="border-0 d-flex justify-content-center">Biography</h5>
            <p>An inquiring mind that loves to code but also enjoys seeing friends, playing video games, and vacationing!</p>
        </div>
        <div class="col-4" id="middle-column">
            <img class="rounded shadow-4-strong" src="static/selfie_w_dog.jpg" width="100%">
        </div>
        <div class="col-4" id="last-column"></div>
    </div>
    <br>
</div>
{% endblock %}