{% extends 'base.html' %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="border-0 homepage-h1">
                Michael Scheie<br>
                Software Engineer
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4" id="first-column">
            <br>
            <br>
            <h5 class="border-0 drop-in ">Biography</h5>
            <p class="drop-in-2">An inquiring mind that loves to code but also enjoys seeing friends, playing video games, and traveling!</p>
            <br>
            <br>
            <br>
            <h5 class="border-0 drop-in">Contact</h5>
            <p class="drop-in-2">
                Minneapolis, MN<br>
                scheiemichael@gmail.com<br>
                952-212-8525<br>
            </p>
        </div>
        <div class="col-4 d-flex justify-content-center" id="middle-column">
            <img class="rounded-pill" src="static/selfie_w_dog.jpg" width="80%">
        </div>
        <div class="col-4 text-end" id="last-column">
            <br>
            <br>
            <h5 class="border-0 drop-in">Years of Experience</h5>
            <p class="drop-in-2">4+</p>
            <br>
            <br>
            <br>
            <h5 class="border-0 drop-in">Education</h5>
            <p class="drop-in-2">Computer Science B.A from
                Gustavus Adolphus
            </p>
        </div>
    </div>
    <br>
</div>
{% endblock %}