{% extends 'base.html' %}


{% block body %}

<div class="container">
    <br>
    <div class="row">
        <div class="col">
            <h1 class="border-0 homepage-h1">
                Michael Scheie<br>
                Software Engineer
            </h1>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-4" id="first-column">
            <h5 class="border-0 ">Biography</h5>
            <p>An inquiring mind that loves to code but also enjoys seeing friends, playing video games, and traveling!</p>
            <br>
            <br>
            <br>
            <h5 class="border-0">Contact</h5>
            <p>
                Minneapolis, MN<br>
                scheiemichael@gmail.com<br>
                952-212-8525<br>
            </p>
        </div>
        <div class="col-4" id="middle-column">
            <img class="rounded-pill" src="static/selfie_w_dog.jpg" width="100%">
        </div>
        <div class="col-4 text-end" id="last-column">
            <h5 class="border-0">Years of Experience</h5>
            <p>4</p>
            <br>
            <br>
            <br>
            <h5 class="border-0">Projects</h5>
            <p>4</p>
        </div>
    </div>
    <br>
</div>
{% endblock %}